/*
 Editor styles
 */

 .align-center{
   text-align: center;
 }
 .align-left{
   text-align: left;
 }
 .align-right{
   text-align: right;
 }
 .round-image>img{
   border-radius:50%;
   width:150px;
   height:150px;
 }
 .koelsch-icon{
   .svg-wrap{
     display:inline-block;
   }
 }
// .block-editor-block-list__layout .block-editor-block-list__block:after{
//   clear:both;
// }
.wp-block[data-align="left"],
.wp-block[data-align="right"]{
  height:100%;
  &>*{
    float:none!important;
  }
  &::after{
    display:block;
    content:'';
    clear:both;
    // height:1px;
  }
}
.text-center{
  text-align:center;
}
