.wp-block-columns{
  padding:0 30px;

  @include media ('>widescreen') {
    padding:0;
  }

  .wp-block-column{
    @include media('<xl-phone'){
      margin-bottom:40px;
    }
    &:last-child{

      @include media('<xl-phone'){
        margin-bottom:0;
      }

    }
    &>.text-col{

      padding:30px 0;

    }

    ul{
      margin-bottom:0;
    }

  }
}

.blocks-gallery-grid{

  .blocks-gallery-item{

    &:last-child{
      @include media('<xl-phone'){
        margin-bottom:0;
      }

    }

  }

}
.wp-block-cover{

  width:100%;

  @include media('<phone'){
      padding-top:30px;
  }

  .wp-block-columns{
    padding:0;
  }
}

.wp-block-spacer{
	@include media ('<=phone') {
		display:none;
	}
	&.show-on-mobile{
		@include media ('<=phone') {
			display:block;
		}
	}
}

figure{

  &.wp-block-image{
    margin:0;
  }

}
.in-container{

  //&:not(.content-section-50){
    @include media('<=phone'){
  		margin:auto 25px 50px;
  	}
  //}


  .wp-block-columns{
    padding:0;
  }

  &.content-section-50,
  &.content-section-33,
  &.content-section-25 {

    .text-box {

      @include media('<=phone'){
    		padding-left:0!important;
        padding-right:0!important;
      }

    }

  }
  &.content-section-100{
		margin:30px 25px 50px;
	}

  &.content-section-double{

    &:not(.ic-set){

      @include media('<=widescreen'){

        padding: 0 30px;

      }
      @include media('<=phone'){
    		padding:0;
    	}

    }

  }

}

//block helper classes
.border-top{
  padding-top: 15px;
  margin-top: 15px;
  border-top: 1px #333 solid;
}

.content-area{

  @include media('<=widescreen'){

    margin:auto 30px 30px;

  }

}


.alignfull {
    // left: calc(-1rem - 15px);
    left:auto;
    position: relative;

    max-width: 100vw;
    width: 100vw;

	// @include media ('>=tablet') {
  //       left: calc(-1.25 * (10% + 15px));
  //   }

	@include media ('>=widescreen') {
        left: calc(-50vw + 50%);
    }
}
.round-image{
  img{
    border-radius:50%;
  }
}
.koelsch-icon{
  .svg-wrap{
    display:inline-block;
  }
  >img{
    width:100%;
  }
  &.white{
    fill:$white;
  }
  &.blue{
    fill:$darker-blue;
  }
  &.gold{
    fill:$gold;
  }
  &.purple{
    fill:$dark-purple;
  }
}
.floorplan{
  margin-bottom:60px;
  background-color:$white;
  color:$darker-blue;
  position:relative;

  @include media ('>=xl-phone') {
    margin-bottom:25px;
  }

  figure{

    @include animate(padding);

    margin:0;
    margin-left:1px;
    border:1px $gray-50 solid;
    overflow:hidden;
    padding:25px 25px 44px;
    cursor:pointer;

    &:hover{
      padding:18px 20px 44px;

      .enlarge{
        color:$gold;
      }

    }
     img{
       width:100%;
     }

    .enlarge{
      @include animate(color);

      position: absolute;
      background-color: #fff;
      font-size: 30px;
      right: 1px;
      top: 1px;
      padding: 30px 30px 10px 10px;
      line-height: 20px;

    }

  }

  .info-wrap{
    background-color: $white;
    padding-top: 22px;
    position:absolute;
    bottom:-22px;
    left:0;
  }

  .title{
    font-family:$base-font-serif;
    color:$darker-blue;
    text-transform:none;
    letter-spacing: normal;
  }

  ul{

    margin:10px 0 0;
    padding:0;
    display:flex;

    li{
      display:block;
      position:relative;
      padding-right:10px;
      margin-right:10px;
      line-height:14px;

      &::after{
        display:block;
        content:'';
        position:absolute;
        bottom:0;
        height:15px;
        width:1px;
        right:0;
        background-color: $gray-200;
      }

      &:last-child{
        &::after{
          display:none;
        }
      }

      span{
        color:$gray-blue;
        font-weight:100;
      }
    }
  }
}
.visual-link{
  margin-bottom:2em;
  @include media ('>=desktop') {
    margin-bottom:0;
  }
  &>a{
    display:block;
    position:relative;
    text-decoration:none;
  }

  picture{
    position:relative;
    display:block;
    text-align:center;

    @include media ('>=desktop') {
      text-align:right;
    }

    &::before {
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      height:50%;
      background-image: linear-gradient(to bottom, rgba($form-elem-color,0) 0%,rgba($form-elem-color,1) 100%);

      @include media ('>=desktop') {
        height: 75%;
      }
    }

  }

  // .divider{
  //
  //   z-index: 1;
  //   margin: 0 0 1em 0!important;
  //   height:auto;
  //   display:inline-block;
  //
  //   @include media ('>=desktop') {
  //     display:none;
  //   }
  //
  // }

  .btn-outline{
    @include animate(bottom);
    display:block;
    margin:0 1em;
    position:absolute;
    bottom:20px;
    right:20px;
    color:#fff;
    border-color:#fff;

    &::after{
      border-color:#fff;
    }

    @include media ('>=desktop') {
      margin:0;
    }

  }

  .description{
    @include animate(padding);
    @include animate(right);
    padding:25px 25px 0 25px;
    background-color:#fff;
    position: relative;

    @include media ('>=desktop') {
      position:absolute;
      bottom:0;
      left:0;
      right:300px;
    }

  }
  &.below{

    .description{
      position:relative;
    }

  }

  &:hover{

    .btn-outline{
      @include media ('>=desktop') {
        bottom: 25px;
      }
    }

    .description{
      @include media ('>=desktop') {
        right:290px;
      }
    }

  }


}
