@include keyframes(fadeSlideDown){
	0% {
		transform: translateY(-100%);
		opacity:0;
	}
	100% {
		opacity:1;
		transform: translateY(0);
	}
}
@include keyframes(fade){
	100% {
		opacity:1;
	}
}
@include keyframes (fadeinright){
  0%{
    opacity:0;
    transform:translateX(100%);
    overflow:hidden;
  }
  100%{
    opacity:1;
    transform:translateX(0);
    overflow:visible;
  }
}
@include keyframes (fadeinleft){
  0%{
    opacity:0;
    transform:translateX(-100%);
    overflow:hidden;
  }
  100%{
    opacity:1;
    transform:translateX(0);
    overflow:visible;
  }
}
#header {
	background-color: $darker-blue;
	padding: 20px 0 17px;
	z-index: 50;
	position: relative;
	min-height: 90px;

	@include media ('>=desktop') {
		padding: 15px 0 19px;
	}

	&.community {
		padding: 0;
		min-height: 54px;

		@include media ('>=desktop') {
			min-height: 0;
		}

		.logo {
			width: 38px;
			height: 30px;
			overflow: hidden;
			margin-top: 2px;
			animation:none;

			img {
				width: 160px;
				max-width: none;
			}
		}

		.menu-wrap {
			@include media ('<desktop') {
				max-height: calc(100vh - 54px);
			}

			@include media ('>=desktop') {
				margin-left: auto;
			}

			.nav-active & {
				@include media ('<desktop') {
					height: calc(100vh - 54px);
				}
			}
		}

		.nav-opener {
			margin: 0 12px 0 auto;
		}

		#nav {
			@include media ('<desktop') {
				padding:40px 0 15px;
				margin-top: 0;
			}

			@include media ('>=widescreen') {
				font-size: 14px;
				margin-right: 10px;
			}

			> li {
				@include media ('>=desktop') {
					margin-right: 20px;
					margin-left: 0;
				}

				&:nth-last-child(2) {
					@include media ('<desktop') {
						margin-bottom: 0;
					}
				}

				&:last-child {
					display: block;

					@include media ('<desktop') {
						margin-bottom: 22px;
						order: -1;
					}
				}
				>a{
					@include media ('>=desktop') {
						font-weight: 300;
					}
				}
			}


			a {
				@include media ('>=desktop') {
					padding: 18px 10px 16px;
				}

				&:not(:only-child) {
					@include media ('>=desktop') {
						padding-right: 10px;
					}
				}

				ion-icon {
					display: none !important;
				}
			}

			.drop,.sub-menu {
				@include media ('>=widescreen') {
					font-size: 18px;
					left: -28px;
				}
				a {
					@include media ('>=desktop') {
						padding: 0 0 0 36px;
						// font-weight: 400;
					}
				}
			}
		}

		.container {
			padding-right: 0;
		}

		.holder {
			padding-right: 0;
		}
	}

	.container {
		padding: 0 20px;

		@include media ('<desktop') {
			padding-bottom: 0 !important;
		}
	}

	.holder {
		padding: 0 3px 0 15px;
		display: flex;
		align-items: center;
		justify-content: space-between;

		@include media ('>=desktop') {
			border-bottom: 1px solid rgba($white, .21);
		}
	}

	.logo {
		display: block;
		width: 160px;
		margin-top: 13px;

		@include media ('>=desktop') {
			margin-top: -15px;
		}

		@include media ('>=widescreen') {
			margin-top: -20px;
		}

		@include animation('fadeinleft 1s forwards');

		img {
			display: block;
			width: 100%;
		}
	}

	.community-link {
		border: solid rgba($white, .21);

		@include media ('<desktop') {
			margin: 15px 0 0;
			padding: 30px 19px 26px;
			border: solid rgba($white, .21);
			border-width: 0 0 1px 1px;
		}

		@include media ('>=desktop') {
			border-width: 0 0 0 1px;
			font-size: 18px;
			padding: 19px;
		}

		@include media ('>=widescreen') {
			align-self: stretch;
			margin-top: 5px;
			padding: 25px 20px 20px 25px;
			font-size: 21px;
		}

		@include media ('>=fullscreen') {
			padding-left: 53px;
		}

		img {
			@include media ('>=desktop', '<widescreen') {
				width: 40px;
				margin-left: 8px;
			}
		}
	}
}
.title-area{

	padding:20px 25px 10px 30px;
	background-color: $darker-blue;

	h1{
		color:$white;
	}

	&.header-copy{

		h1{

			font-family: $base-font-sans-serif;
			text-transform: uppercase;
			font-size:24px;
			color:$gold;
			letter-spacing:2px;
			font-weight:200;
			margin:20px 0;

			@include media ('>=xl-phone') {
				margin-bottom:60px;
			}

		}

		p{

			font-size:36px;
			font-family: $base-font-serif;
			color:$white;
			max-width: 100%;
			line-height:1.2;
			margin:0;

			@include media ('>=tablet') {
				font-size:60px;
				max-width: 70%;

			}
			@include media ('>desktop') {
				max-width:50%;
				margin:60px 0 0 0;
			}

		}
	}
}
.contact-home-menu-item{
	display:none;
}
.community{
	.bg-video-holder{
		.header-copy p{
			display:none;
			@include media ('>=phone') {
				display: block;
			}
		}
	}
	.contact-home-menu-item{
		display:block;
	}
}
.bg-video-holder{
	.title-area{
		background:none;
		width:100%;
		z-index:1;
	}
}
.community-block {
	padding-top: 30px;
	padding-bottom: 24px;
	background-color: $darker-blue;

	@include media ('>=tablet') {
		padding-bottom: 0;
	}

	@include media ('>=desktop') {
		padding-top: 40px;
	}

	.community-holder {
		max-width: 1110px;
		margin: 0 auto;
		padding-bottom: 10px;
		border-left: 1px solid rgba($white, .21);

		@include media ('>=desktop') {
			border: none;
			padding: 0;
		}

		.logo-holder{
			@include animation('1s ease-out 0s 1 fadeSlideDown');

			.community-name {
		    text-decoration: none;
		    color: #fff;
		    text-align: center;
		    font-family: $base-font-serif;
		    font-size: 42px;
		    line-height: 42px;
			}
		}

		.community-nav > ul > li{
			opacity:0;
			@include animation('fade 1s forwards');

			&:nth-child(1){
				animation-delay:.4s;
			}
			&:nth-child(2){
				animation-delay:.6s;
			}
			&:nth-child(3){
				animation-delay:.8s;
			}
			&:nth-child(4){
				animation-delay:1s;
			}
			&:nth-child(5){
				animation-delay:1.2s;
			}
			&:nth-child(6){
				animation-delay:1.4s;
			}
			&:nth-child(7){
				animation-delay:1.6s;
			}
		}

	}

	.container {
		padding: 0 20px;
	}

	.logo-holder {
		padding: 10px 20px 34px 0;
		margin: 0 0 21px 20px;
		border-bottom: 1px solid rgba($white, .21);
		display:block;

		@include media ('>=desktop') {
			padding: 0 0 43px;
			margin: 0;
		}
	}

	.community-logo {
		width: 208px;
		margin: 0 auto;
		display: block;

		@include media ('>=tablet', '<desktop') {
			width: 170px;
		}
	}
}

.community-nav {

	// &>ul{
	//
	// 	&>li{
	//
	// 		&.menu-item-has-children{
	//
	// 			&>a{
	//
	// 				@include media ('<desktop') {
	// 					display: none;
	// 				}
	//
	// 			}
	//
	// 			ul.drop{
	//
	// 				@include media ('<desktop') {
	// 					padding:0!important;
	// 				}
	//
	// 				a{
	// 					@include media ('<desktop') {
	// 						text-transform:uppercase;
	// 					}
	// 				}
	//
	// 			}
	//
	// 		}
	//
	// 	}
	//
	// }

	ul {
		@extend %listreset;

		font-size: 18px;
		line-height: 1.2;
		letter-spacing: 2.2px;
		text-transform: uppercase;

		@include media ('>=tablet') {
				// font-size: 14px;
		}

		@include media ('>=desktop') {
			font-size: 16px;
			display: flex;
			justify-content: center;
			flex-wrap: wrap;

		}

		@include media ('>=widescreen') {
			font-size: 18px;
		}

		li {

			&.menu-item-object-custom{

				&>a{
					@include media('<desktop'){
						display:none;
					}
				}

				.drop{

					display:block;
					@include media('<desktop'){
						padding:0!important;
					}

					@include media('>=desktop'){
						display:none;
					}



					&>li{

						&>a{
							padding-left:20px;
							@include media('<desktop'){
								text-transform:uppercase;
							}
						}

					}

				}

			}

			position:relative;

			@include media ('>=desktop') {
				margin: 0 15px;
			}

			&.active {
				a {
					font-weight: 600;

					&::before {
						opacity: 1;
					}
				}
			}

			ion-icon {
				display: none;
			}

			&.menu-item-has-children{

				ion-icon{
					display:block;
				}
			}
		}

		&.drop{

			position:relative;
			text-transform:none;
			display:none;

			li{

				display: block;
				margin:0;

				&.current_page_ancestor{
					a{
						font-weight:600;
					}
				}

				a{

					&::before {
						@include animate(opacity);

						content: '';
						position: absolute;
						background-color: $gold;

						// @include media ('<desktop') {
							left: 0;
							top: -8px;
							bottom: -8px;
							height: auto;
							width: 2px;
							right:auto;
						// }
					}

					padding-left:40px;

					@include media ('>=desktop') {
						padding: 10px 0 10px 20px;
					}
				}
			}

			@include media ('<desktop') {
				height: auto !important;
				padding-top: 19px !important;
				padding-bottom: 11px !important;
			}

			&.js-slide-hidden {
				@include media ('<desktop') {
					position: static !important;
					left: auto !important;
					top: auto !important;
					display: block !important;
				}
			}

			@include media ('>=desktop') {
				position: absolute;
				left: 0;
				top: calc(100%);
				min-width: 300px;
				// background-color: $darker-blue;
				border-left: 1px solid rgba($white, .21);
				padding: 15px 0;
			}

			@include media ('>=widescreen') {
				left: -13px;
			}

		}

		a {
			display: block;
			padding: 11px 18px 10px;
			position: relative;
			color: $white;
			text-decoration: none;
			font-weight: 300;

			@include media ('>=desktop') {
				padding: 21px 10px 18px;
				display: flex;
				align-items: center;
				// height: 100%;
				text-align: center;
			}

			@include media ('>=widescreen') {
				padding: 18px 10px 15px;
			}

			&::before {
				@include animate(opacity);

				content: '';
				position: absolute;
				background-color: $gold;
				opacity: 0;
				left: 0;
				top: 0;
				bottom: 0;
				height: auto;
				width: 2px;

				@include media ('>=desktop') {
					height: 2px;
					right: 0;
					width:100%;
				}
			}

			&:hover {
				&::before {
					opacity: 1;
				}
			}
		}
	}
}

.menu-wrap {
	@include media ('<desktop') {
		@include animate(height);

		position: absolute;
		left: 0;
		right: 0;
		top: 100%;
		background-color: $darker-blue;
		height: 0;
		max-height: calc(100vh - 90px);
		overflow: hidden;
	}

	.nav-active & {
		@include media ('<desktop') {
			height: calc(100vh - 90px);
		}
	}

	&::before {
		@include media ('<desktop') {
			content: '';
			width: 427px;
			height: 664px;
			background-image: url('assets/images/mobile-menu-decor.png');
			background-repeat: no-repeat;
			background-size: 100% 100%;
			position: absolute;
			right: -65px;
			bottom: -44px;
			opacity: .12;
		}

		@include media ('retina2x') {
			@include media ('<desktop') {
				background-image: url('assets/images/mobile-menu-decor@2x.png');
			}
		}
	}

	.menu-holder {
		display: flex;

		@include media ('<desktop') {
			position: relative;
			height: 100%;
			overflow-y: auto;
			flex-direction: column;
			justify-content: space-between;
			padding: 0 20px;
		}

		@include media ('>=desktop') {
			align-items: center;
			flex-direction: row-reverse;
			align-items: center;
		}
	}

	ul {
		@extend %listreset;
	}

	.decor-logo {
		width: 70px;
		margin: auto 6px 0 auto;
		padding-bottom: 30px;

		@include media ('>=desktop') {
			display: none;
		}

		img {
			display: block;
			width: 100%;
			height: auto;
		}
	}
}
nav, #nav{

	li.current-menu-item{

		&>a{
			font-weight:600;
		}

	}

}

#nav{
	@extend %listreset;

	letter-spacing: 2.2px;
	display: flex;
	font-size: 18px;
	line-height: 1.2;

	@include media ('<desktop') {
		position: relative;
		text-transform: uppercase;
		border-left: 1px solid rgba($white, .21);
		padding-top: 38px;
		margin: 0 0 20px;
		flex-direction: column;
	}

	@include media ('>=desktop') {
		text-transform: uppercase;
		font-size: 15px;
		line-height: 1;
	}

	@include media ('>=widescreen') {
		font-size: 18px;
	}

	@include media ('>=fullscreen') {
		margin-right: 30px;
	}

	> li {
		position: relative;

		@include animation('1s ease-out 0s 1 fadeinright');

		@include media ('<desktop') {
			margin-bottom: 22px;
		}

		@include media ('>=fullscreen') {
			margin-left: 25px;
		}

		&:last-child {
			display: none;

			@include media ('<desktop') {
				margin-bottom: 8px;
			}
		}

		&:nth-last-child(2) {
			@include media ('<desktop') {
				margin-bottom: 0;
			}
		}

		&.active {
			> a {
				@include media ('<desktop') {
					font-weight: 600;
				}

				&::before {
					opacity: 1;
				}
			}
		}
		&.menu-item-has-children{
				> a {
					ion-icon {
						transform: translateY(-50%) rotate(180deg);
					}
				}
		}

		&.active-drop {
			> a {
				&::before {
					opacity: 1;
				}

				ion-icon {
					transform: translateY(-50%) rotate(180deg);
				}
			}
		}
	}

	a {
		color: $white;
		text-decoration: none;
		position: relative;
		display: block;

		@include media ('<desktop') {
			padding-left: 20px;
			font-weight: 300;
		}

		@include media ('>=desktop') {
			padding: 25px 10px 30px;
		}

		@include media ('>=widescreen') {
			padding: 35px 24px 45px;
		}

		&:not(:only-child) {
			@include media ('>=desktop') {
				padding-right: 40px;

				ion-icon {
					display: block;
				}
			}

			@include media ('>=widescreen') {
				padding-right: 58px;
			}
		}

		&::before {
			@include animate(opacity);

			content: '';
			position: absolute;
			background-color: $gold;
			opacity: 0;

			@include media ('<desktop') {
				left: 0;
				top: -8px;
				bottom: -9px;
				height: auto;
				width: 2px;
			}

			@include media ('>=desktop') {
				bottom: 0;
				height: 2px;
				left: 0;
				right: 0;
			}
		}

		&:hover {
			&::before {
				opacity: 1;
			}
		}

		ion-icon {
			@include animate(transform);
			display: none;

			@include media ('>=desktop') {
				position: absolute;
				right: 10px;
				top: 45%;
				transform: translateY(-50%);
				font-size: 24px;
				line-height: 1;
			}

			@include media ('>=widescreen') {
				font-size: 28px;
				right: 20px;
			}
		}
	}

	.drop, .sub-menu {
		text-transform: none;
		padding: 19px 0 11px 0;

		@include media ('<desktop') {
			height: auto !important;
			padding-top: 19px !important;
			padding-bottom: 11px !important;
		}

		&.js-slide-hidden {
			@include media ('<desktop') {
				position: static !important;
				left: auto !important;
				top: auto !important;
				display: block !important;
			}
		}

		@include media ('>=desktop') {
			position: absolute;
			left: -27px;
			top: calc(100% + 1px);
			min-width: 300px;
			background-color: $darker-blue;
			border-left: 1px solid rgba($white, .21);
			padding: 35px 0;
		}

		@include media ('>=widescreen') {
			left: -13px;
		}

		li {
			margin-bottom: 16px;

			@include media ('>=desktop') {
				margin-bottom: 23px;
			}

			&:last-child {
				margin-bottom: 0;
			}

			&.active {
				> a {
					@include media ('<desktop') {
						font-weight: 600;
					}

					&::before {
						opacity: 1;
					}
				}
			}
		}

		a {
			@include media ('<desktop') {
				padding-left: 40px;
			}

			@include media ('>=desktop') {
				padding: 0 0 0 36px;
			}

			&::before {
				left: 0;
				top: -11px;
				bottom: -11px;
				height: auto;
				width: 2px;
			}
		}
	}
}
#commNav{
	li{
		&.active-drop {
			> a {
				position:relative;
				ion-icon {
					transform: translateY(-50%) rotate(180deg);
				}
			}
		}

		ion-icon {
			display:none;
			@include animate(transform);
			position: absolute;
			right: -15px;
			top: 50%;
			transform: translateY(-50%);
			font-size: 22px;
			line-height: 1;

		}

		&.menu-item-has-children{
			ion-icon {
				@include media ('>=desktop') {
					display:block;
				}
			}
		}
	}
}

.phone-link {
	@include animate(background-color);

	padding: 5px;
	font-size: 24px;
	line-height: 1;
	color: $white;
	text-decoration: none;
	background-color: $gold;
	width: 57px;
	height: 54px;
	position: relative;
	display: none;

	@include media ('>=desktop') {
		padding: 16px 36px 14px;
		display: inline-block;
		vertical-align: top;
		text-align: center;
		width: auto;
		height: auto;
		font-size: 20px;
		margin-bottom: -1px;
	}

	@include media ('>=widescreen') {
		padding: 13px 36px;
		font-size: 24px;
	}

	&:hover {
		background-color: darken($gold, 10%);
	}

	span {
		display: none;

		@include media ('>=desktop') {
			display: block;
		}
	}

	ion-icon {
		font-size: 30px;

		position: absolute;
		left: 50%;
		top: 50%;
		transform: translate(-50%, -50%);

		@include media ('>=desktop') {
			display: none;
		}
	}
}

.nav-opener {
	@include animate(opacity);

	display: block;
	width: 44px;
	height: 44px;
	position: relative;

	@include media ('>=desktop') {
		display: none;
	}

	&:hover {
		opacity: .8;
	}

	.nav-active & {
		span {
			opacity: 0;
		}

		&:before,
		&:after {
			transform: rotate(45deg);
			top: 50%;
			left: 22%;
			right: 22%;
		}

		&:after {
			transform: rotate(-45deg);
		}
	}

	span,
	&:before,
	&:after {
		background: $white;
		border-radius: 2px;
		position: absolute;
		top: 50%;
		left: 25%;
		right: 25%;
		height: 3px;
		margin-top: -1px;
		transition: all .3s linear;
	}

	&:before,
	&:after {
		content: '';
		top: 34%;
	}

	&:after {
		top: 66%;
	}
}
