/*
 Editor styles
 */
.align-center {
  text-align: center; }

.align-left {
  text-align: left; }

.align-right {
  text-align: right; }

.round-image > img {
  border-radius: 50%;
  width: 150px;
  height: 150px; }

.koelsch-icon .svg-wrap {
  display: inline-block; }

.wp-block[data-align="left"],
.wp-block[data-align="right"] {
  height: 100%; }
  .wp-block[data-align="left"] > *,
  .wp-block[data-align="right"] > * {
    float: none !important; }
  .wp-block[data-align="left"]::after,
  .wp-block[data-align="right"]::after {
    display: block;
    content: '';
    clear: both; }

.text-center {
  text-align: center; }
