.instagram-list {
	@extend %listreset;

	display: flex;
	flex-wrap: wrap;
	width: 100vw;

	li {
		width: 50vw;
		height: 50vw;

		@include media ('>=phone') {
			width: 25vw;
			height: 25vw;
		}

		img {
			display: block;
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}
}

$break-margin: calc((100vw - 1200px)/2 * -1);

.content-section-double,
.content-section-50,
.content-section-33,
.content-section-25 {
	background-repeat: no-repeat;

	&.bg-h-left {
		background-position-x: 0;
	}

	&.bg-h-right {
		background-position-x: 100%;
	}

	&.bg-v-top {
		background-position-y: 0;
	}

	&.bg-v-middle {
		background-position-y: 50%;
	}

	&.bg-v-bottom {
		background-position-y: 100%;
	}

	.container-md {
		padding: 0;
		max-width: 1200px;
	}

	.row {
		margin-left: 0;
		margin-right: 0;

		.col {
			padding: 0;
			width: auto;
		}
	}

	.col {
		padding: 0;

		&.text-col {
			&.v-align-center {
				@include media ('>=tablet') {
					align-self: center;
				}
			}

			&.v-align-bottom {
				@include media ('>=tablet') {
					align-self: flex-end;
				}
			}

			&.v-align-top {
				@include media ('>=tablet') {
					align-self: flex-start;
				}
			}
		}
	}

	.h-align-right {
		text-align: right;
	}

	.h-align-left {
		text-align: left;
	}

	.h-align-center {
		text-align: center;
	}

	.text-right {
		text-align: right;
	}

	.text-left {
		text-align: left;
	}

	.text-center {
		text-align: center;
	}

	.btn-outline {
		min-width: 196px;
	}
}

.content-section-50,
.content-section-33,
.content-section-25 {
	&:not(.fullwidth).margins {
		&.align-right {
			.col {
				&.img-col {
					@include media ('>=widescreen') {
						margin-right: 0;
					}

					@include media ('>=1320px') {
						margin-right: calc((100vw - 1320px)/2 * -1);
					}
				}
			}
		}

		&.align-left {
			.col {
				&.img-col {
					@include media ('>=widescreen') {
						margin-left: 0;
					}

					@include media ('>=1320px') {
						margin-left: calc((100vw - 1320px)/2 * -1);
					}
				}
			}
		}
	}

	&:not(.fullwidth) {
		&.align-right {
			.col {
				&.img-col {
					@include media ('>=widescreen') {
						margin-right: $break-margin;
					}
				}
			}
		}

		&.align-left {
			.col {
				&.img-col {
					@include media ('>=widescreen') {
						margin-left: $break-margin;
					}
				}
			}
		}
	}

	&.align-right {
		.row {
			@include media ('>=tablet') {
				flex-direction: row-reverse;
			}
		}
	}

	.row {
		display: block;

		@include media ('>=tablet') {
			display: flex;
			align-items: stretch;
			justify-content: space-between;
		}
	}

	.col {
		&.img-col {
			flex-grow: 1;
		}
	}

	h2 {
		@include media ('>=tablet', '<desktop') {
			font-size: 32px !important;
		}
	}

	.text-box {
		background-color: $white;
	}
}

.fullwidth {
	.container-md {
		max-width: 100%;
		padding:0;
	}

	&:not(.overlapping) {
		.col {
			&.img-col {
				margin-left: 0;
				margin-right: 0;
			}
		}
	}
}

.overlapping {
	.col {
		&.img-col {
			@include media ('>=tablet') {
				flex-grow: 1;
			}
		}

		&.text-col {
			@include media ('>=tablet') {
				position: relative;
				z-index: 2;
			}
		}
	}

	&.align-right {
		.col {
			&.img-col {
				@include media ('>=tablet') {
					margin-left: -200px;
				}
			}

			&.text-col {
				@include media ('>=tablet') {
					margin-right: -60px;
				}
			}
		}
	}

	&.align-left {
		.col {
			&.img-col {
				@include media ('>=tablet') {
					margin-right: -200px;
				}
			}

			&.text-col {
				@include media ('>=tablet') {
					margin-left: -60px;
				}
			}
		}
	}
}

.margins {
	@include media ('>=tablet') {
		margin:30px 30px auto 30px;
		overflow:hidden;
	}

	@include media ('>=widescreen') {
		margin-left: 60px;
		margin-right: 60px;
	}
}

.content-section-50 {
	.row {
		.col {
			@include media ('>=tablet') {
				width: 50%;
			}
		}
	}

	.col {
		&.img-col {
			position: relative;

			&::before {
				@include media ('<tablet') {
					content: '';
					display: block;
					width: 0;
					padding-bottom: 106%;
				}
			}

			img {
				display: block;
				width: 100%;
				height: 100%;
				object-fit: cover;

				@include media ('<tablet') {
					position: absolute;
					left: 0;
					top: 0;
				}
			}
		}
	}

	&.overlapping {
		.col {
			&.text-col {
				@include media ('>=widescreen') {
					width: calc(50% + 60px);
				}
			}
		}
	}

	.text-box {
		padding: 50px 30px;

		@include media ('>=widescreen') {
			padding: 50px 70px 108px;
		}
	}

	h2 {
		margin-bottom: 28px;
		font-size: 36px;

		@include media ('>=xs-phone') {
			font-size: 42px;
		}
	}

	.divider {
		width: 120px;
		margin-bottom: 20px;
	}

	p {
		margin-bottom: 30px;
	}
}

.content-section-25,
.content-section-33 {
	margin: 30px 0;

	@include media ('>=desktop') {
		margin: 50px 0;
	}

	&.overlapping {
		.col {
			&.text-col {
				@include media ('>=widescreen') {
					width: calc(34% + 60px);
				}
			}
		}
	}

	.col {
		&.text-col {
			position: relative;
			z-index: 2;

			@include media ('>=tablet') {
				width: 34%;
			}
		}

		&.img-col {
			position: relative;

			@include media ('>=tablet') {
				margin-bottom: 0;
				width: 66%;
			}

			&::before {
				@include media ('<tablet') {
					content: '';
					display: block;
					width: 0;
					padding-bottom: 139%;
				}
			}

			img {
				display: block;
				width: 100%;
				height: 100%;
				object-fit: cover;

				@include media ('<tablet') {
					position: absolute;
					left: 0;
					top: 0;
				}

				@include media ('>=tablet') {
					min-height: 500px;
				}
			}
		}
	}

	.text-box {
		padding: 40px 30px;

		@include media ('>=tablet') {
			padding: 34px 30px;
		}

		@include media ('>=desktop') {
			padding: 44px 40px;
		}

		@include media ('>=widescreen') {
			padding: 60px;
		}
	}

	h2 {
		margin-bottom: 28px;
		font-size: 36px;

		@include media ('>=xs-phone') {
			font-size: 42px;
		}
	}

	.divider {
		width: 120px;
		margin-bottom: 20px;
	}

	p {
		margin-bottom: 30px;
	}
}

.content-section-25 {
	.col {
		&.text-col {
			@include media ('>=tablet') {
				width: 30%;
			}

			@include media ('>=desktop') {
				width: 25%;
			}
		}

		&.img-col {
			@include media ('>=tablet') {
				width: 70%;
			}

			@include media ('>=desktop') {
				width: 75%;
			}
		}
	}

	.btn-outline,
	.btn {
		@include media ('>=tablet', '<desktop') {
			min-width: 0;
			padding-left: 10px;
			padding-right: 10px;
		}
	}
}

.content-section-100 {
	color: $white;
	position: relative;
	margin-bottom: 30px;

	.container-md {
		padding:0;
	}

	@include media ('>=tablet') {
		margin-bottom: 60px;
	}

	&.align-right {
		h2 {
			&::before {
				@include media ('<tablet') {
					left: -9999px;
				}
			}
		}

		.btn-outline {
			@include media ('>=tablet') {
				margin-left: 50px;
			}

			@include media ('>=widescreen') {
				margin-left: 66px;
			}
		}
	}

	&.align-left {
		.text-box {
			@include media ('>=tablet') {
				flex-direction: row-reverse;
			}
		}

		h2 {
			&::before {
				@include media ('<tablet') {
					right: -9999px;
				}
			}
		}

		.btn-outline {
			@include media ('>=tablet') {
				margin-right: 50px;
			}

			@include media ('>=widescreen') {
				margin-right: 66px;
			}
		}
	}

	.row {
		position: relative;
		flex-direction: column;
		justify-content: flex-end;

		@include media ('>=tablet') {
			min-height: 0;
		}

		&::before {
			content: '';
			width: 0;
			padding-bottom: 55.3%;
			display: block;

			@include media ('>=tablet') {
				padding-bottom: 36.7%;
			}
		}

		.col {
			width: 100%;

			&.img-col {
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
				padding: 0;

				&::before {
					content: '';
					position: absolute;
					bottom: 0;
					left: 0;
					right: 0;
					height: 75%;
					background-image: linear-gradient(to bottom, rgba($form-elem-color,0) 0%,rgba($form-elem-color,1) 97%,rgba($form-elem-color,1) 100%);

					@include media ('>=tablet') {
						height: 50%;
						background-image: linear-gradient(to bottom, rgba($form-elem-color,0) 0%,rgba($form-elem-color,1) 100%);
					}
				}

				img {
					display: block;
					width: 100%;
					height: 100%;
					object-fit: cover;
				}
			}

			&.text-col {
				position: relative;
				z-index: 10;
				padding: 0;
			}
		}
	}

	.text-box {
		padding: 30px 30px 45px;
		overflow: hidden;

		@include media ('>=tablet') {
			display: flex;
			align-items: flex-end;
			padding: 30px 50px;
		}

		@include media ('>=widescreen') {
			padding: 55px 80px;
		}
	}

	.btn-outline {
		color: $white;
		border-color: $white;

		@include media ('>=tablet') {
			flex-shrink: 0;
		}

		&::after {
			border-color: $white;
		}
	}

	h2 {
		font-size: 22px;
		color: $white!important;
		position: relative;
		padding-bottom: 21px;
		margin-bottom: 27px;

		@include media ('>=tablet') {
			flex-grow: 1;
			margin: 0;
			padding-bottom: 22px;
		}

		&::before {
			content: '';
			position: absolute;
			right: 0;
			bottom: 0;
			left: 0;
			height: 1px;
			width: auto;
			background-color: $white;
		}
	}

	.h-align-right {
		text-align: right;
	}

	.h-align-left {
		text-align: left;
	}

	.h-align-center {
		text-align: center;
	}
}

.content-section-double {
	position: relative;

	@include media ('<tablet') {
		background-image:none!important;
	}
	//
	// @include media ('>=desktop') {
	// 	margin-bottom: 150px;
	// }
	//
	// @include media ('>=widescreen') {
	// 	margin-bottom: 250px;
	// }
	&.ic-set{

		.text-box{

			.divider {
				position: relative;
				z-index: 10;
				// height: 120px;
				height: auto;
				margin-bottom: -70px;

				@include media ('>=tablet') {
					margin-bottom: -80px;
				}

			}

			.wp-block-spacer{

				@include media('<tablet'){
					display:none;
				}

			}

		}

	}

	&.align-left {
		.row {
			&.top-row {
				.col {
					&.img-col {
						@include media ('>=widescreen') {
							margin-left: calc((100vw - 1200px)/2 * -1);
						}
					}
				}
			}

			&.bottom-row {
				@include media ('>=tablet') {
					flex-direction: row-reverse;
				}

				.col {
					&.img-col {
						padding-left: 30px;

						@include media ('>=tablet') {
							padding-left: 0;
							padding: 30px 0 0 30px;
						}

						@include media ('>=desktop') {
							padding: 50px 0 0 50px;
						}

						&::before {
							left: 0;
						}
					}
				}

				.text-box {
					text-align: right;

					@include media ('>=tablet') {
						padding-left: 15px;
						padding-right: 0;
					}
				}
			}
		}
	}

	&.align-right {
		.row {
			&.top-row {
				@include media ('>=tablet') {
					flex-direction: row-reverse;
				}

				.text-box {
					text-align: right;
				}

				.col {
					&.img-col {
						@include media ('>=widescreen') {
							margin-right: calc((100vw - 1200px)/2 * -1);
						}
					}
				}
			}

			&.bottom-row {
				.text-box {
					text-align: left;

					@include media ('>=tablet') {
						padding-right: 15px;
						padding-left: 0;
					}
				}

				.col {
					&.img-col {
						padding-right: 30px;

						@include media ('>=tablet') {
							padding: 30px 30px 0 0;
						}

						@include media ('>=desktop') {
							padding: 50px 50px 0 0;
						}

						&::before {
							right: 0;
						}
					}
				}
			}
		}
	}

	.container-md {
		position: relative;
	}

	.row {
		display: block;

		@include media ('>=tablet') {
			display: flex;
			align-items: flex-start;
		}

		.col {
			padding: 0;
		}

		&.top-row {
			@include media ('>=tablet') {
				margin-bottom: -100px;
			}

			@include media ('>=desktop') {
				margin-bottom: -200px;
			}

			@include media ('>=widescreen') {
				margin-bottom: -300px;
			}

			@include media ('>=fullscreen') {
				margin-bottom: -410px;
			}

			.text-box {
				background-color: $white;
				padding: 30px 27px 7px;
				margin: -60px 30px 0;
				position: relative;

				@include media ('>=tablet') {
					position: static;
					margin: 0;
					background: none;
					padding: 40px 40px 80px;
				}

				@include media ('>=desktop') {
					padding: 50px 58px 180px;
				}

				@include media ('>=widescreen') {
					padding-bottom: 300px;
				}

				@include media ('>=fullscreen') {
					padding-bottom: 384px;
				}
			}

			p {
				margin-bottom: 25px;

				@include media ('>=tablet') {
					margin-bottom: 35px;
				}
			}

			.col {
				@include media ('>=tablet') {
					width: 50%;
				}

				&.text-col {
					position: relative;
					z-index: 10;
					align-self: flex-end;
				}

				&.img-col {
					flex-grow: 1;
				}
			}
		}

		&.bottom-row {
			@include media ('>=tablet') {
				align-items: stretch;
			}

			.text-box {
				padding: 30px;
				background: none;
				align-self:flex-end;

				// @include media ('>=tablet') {
				// 	padding-top: 150px;
				// }
				//
				// @include media ('>=desktop') {
				// 	padding-top: 250px;
				// }
				//
				// @include media ('>=widescreen') {
				// 	padding-top: 350px;
				// }
				//
				// @include media ('>=fullscreen') {
				// 	padding-top: 462px;
				// }
			}

			.col {
				@include media ('>=tablet') {
					width: 50%;
				}

				&.img-col {
					position: relative;

					@include media ('>=tablet') {
						width: 60%;
					}

					@include media ('>=desktop') {
						width: 68%;
					}

					img {
						position: relative;
						z-index: 9;
					}

					&::before {
						@include media ('>=tablet') {
							content: '';
							background-color: $white;
							position: absolute;
							right: 0;
							top: 0;
							bottom: 0;
							width: 16.8%;
						}

						@include media ('>=desktop') {
							width: 26.5%;
						}

						@include media ('>=widescreen') {
							width: 26.6%;
						}
					}
				}

				&.text-col {
					display:flex;
					@include media ('>=tablet') {
						width: 40%;
					}

					@include media ('>=desktop') {
						width: 30%;
					}
				}
			}
		}
	}

	.col {
		&.img-col {
			img {
				display: block;
				width: 100%;
			}
		}
	}

	// .title {
	// 	margin-bottom: 25px;
	// }

}
