.mapboxgl-popup-content {
	font-size: 13px;
	min-width: 250px;
	padding: 13px 10px !important;
	border-radius: 5px !important;

	@include media ('>=tablet') {
		font-size: 15px;
		min-width: 326px;
		padding: 23px 20px 30px !important;
	}

	h4 {
		margin-bottom: 5px;
		line-height: 1.1;

		@include media ('<tablet') {
			font-size: 18px;
		}
	}

	.btn-more {
		display: inline-block;
		vertical-align: top;
		line-height: 1.3;
		font-weight: 700;
	}

	p {
		margin-bottom: 7px;
	}

	.card-category {
		display: block;
		padding-bottom: 13px;
	}
}

.mapboxgl-popup {
	max-width: 250px !important;

	@include media ('>=tablet') {
		max-width: 326px !important;
	}
}

.mapboxgl-popup-close-button {
	padding: 0 8px;
}

.paginationjs-pages {
	position: relative;
	display: flex;
	justify-content: center;

	@include media ('>=tablet') {
		justify-content: flex-end;
	}

	ul {
		@extend %listreset;

		display: flex;
		justify-content: flex-end;
		align-items: center;
		flex-wrap: wrap;
	}

	.paginationjs-ellipsis,
	.paginationjs-page {
		&.active {
			a {
				border-color: $gold;
			}
		}

		a {
			display: block;
			width: 34px;
			height: 34px;
			padding: 3px;
			text-align: center;
			color: $dark-blue;
			font-weight: 600;
			background-color: transparent;
			font-size: 18px;
			line-height: 1.3333;
			text-decoration: none;
			border: 2px solid transparent;
			margin: 0 3px;

			&:hover {
				color: $gold;
			}
		}
	}

	.paginationjs-ellipsis {
		a {
			&:hover {
				color: inherit;
			}
		}
	}

	.paginationjs-next,
	.paginationjs-prev {
		&.disabled {
			display: none;
		}

		a {
			display: inline-block;
			vertical-align: middle;
			text-decoration: none;
			width: 12px;
			padding: 0;
			margin: 0 0 0 14px;
			position: relative;

			&:hover {
				color: $gold;

				ion-icon {
					color: $dark-blue;
				}
			}

			ion-icon {
				@include animate(color);

				font-size: 26px;
				color: $gold;
				position: absolute;
				left: 50%;
				top: 50%;
				transform: translate(-50%, -50%);
			}
		}
	}
}