.modal {

  @include animate(height);
  position: fixed;
  top: 0;
  left: 0;
  width:100%;
  height:0;
  z-index: 999999;
  overflow:auto;

  background-color:rgba(0,0,0,0.85);

  &.active{

    height:100%;
    .close-modal{
      top:0;
    }
    &.floorplan-modal{
      .title{
        opacity:1;
        transition-delay: 2s;
      }
    }

  }

  .close-modal{


    @include animate(top);

    display:flex;
    transition-delay: .5s;
    z-index:1;
    position: fixed;
    top:-50px;
    right:0;
    left:0;
    padding:10px;
    font-size: 30px;
    line-height: 20px;
    background-color: $white;
    text-align:right;
    text-decoration: none;
    align-items: center;
    justify-content: flex-end;

    &>span{
      font-size:18px;
      text-transform: uppercase;
      color:$black;
    }

  }

  &::after{

    display:block;
    position: absolute;
    content:'';
    top:0;
    right:0;
    left:0;
    bottom:0;

  }

  &.floorplan-modal{

    img{

      @include transition(top opacity, 1s);

      position: absolute;
      opacity:0;
      top:-100%;
      left:50%;
      transform: translate(-50%, 0%);
      margin-top: 110px;
      padding: 0 1em 1em;
      width: 100%;

      &.active{
        top:0;
        opacity:1;
      }

    }
    .title{
      @include animate(opacity, .6s);
      opacity:0;
      color: #fff;
      margin: 70px 20px 20px;

    }

  }
}
.contact-prompt{

  &::after{
    opacity:.10;
    display:block;
    content:'';
    position:absolute;
    top:60px;
    right:0;
    left:0;
    bottom:0;
    background:url("assets/images/btn-blue-decor.png") no-repeat 250% 60%/250px 250px;
    z-index:-1;
    @include media ('<=phone') {
      background-position: 175% 60%;
    }
  }

  background-color:$light-orange;
  box-shadow:(10px 30px 100px $black);
  width:330px;
  position:fixed;
  top:30%;
  // right: 0;
  right: -100%;
  z-index:49;
  padding:20px 20px 22px;

  @include animate(right, '1s');

  @include media ('<=phone') {
		width:85%;
    top:15%;
    @include animate(right, '.6s');
	}

  &.visible{
    right:0;
  }

  .prompt-wrapper{

    .name{
      padding:40px 0 0 90px;
      font-family:$base-font-serif;
      font-size:16px;
      line-height:16px;

      @include media ('<=phone') {
        padding-left:180px;
      }

      >span{
        display:block;
        font-size:12px;
        font-family:'proxima-nova';
      }
    }

    &.no-image{
      .contact-message{
        margin-top:0;
      }
      .name{
        padding:20px 0 0 0;
        text-align:center;
      }
      @include media ('<=phone') {
        padding-left:0;
      }
    }


    .contact-card{
      position:relative;

      .image{
        width:150px;
        position:absolute;
        top:-20px;
        left:-75px;

        @include media ('<=phone') {
      		left:10px;
      	}

        >img{
          border-radius:50%;
        }
      }

    }
    .contact-message{
      margin-top:80px;
      text-align:center;
      font-family:$base-font-serif;
      font-size:22px;
    }
    .contact-actions{
      margin-top:30px;
      font-size:24px;
      z-index:1;

      .secondary-action{
        display:block;
        width:100%;
        box-sizing:border-box;
        background:transparent;

        &:hover{
          ion-icon{
            padding-right:20px;
          }
        }

        &.tour{
          margin-top: 25px;
          padding-top: 25px;
          border-top: 1px $gray-300 dashed;
        }

        font-size:16px;
        padding: 15px 0 0 0;
        text-decoration:none;

        ion-icon{
          @include animate('padding');
          font-size: 24px;
          padding: 4px 15px 0 0;
        }

      }

      ion-icon{
        padding:10px 15px 0 0;
        display:block;
        float:left;
      }
      a{
        float:left;
      }
      &::after{
        content:'';
        display:block;
        clear:both;
      }
    }
  }
  .closer-wrap{
    text-align:right;
  }
  .closer{
    font-size:24px;
    // line-height:12px;
    cursor:pointer;
    ion-icon{
      border-right:2px solid #252d3b;
    }
  }
}
.contact-opener{
    background-color: #c69230;
    position: fixed;
    top: 30%;
    right:-100%;
    z-index: 48;
    color: #fff;
    line-height: 12px;
    font-size: 24px;
    padding: 15px;
    border-radius: 10px 0 0 10px;
    height: 141px;
    cursor: pointer;

    >span, >a{
      display: block;
      transform: rotate(-90deg);
      height: 30px;
      width: 10px;
      position: absolute;
      top: 101px;
      right: 12px;
      font-size: 20px;
      text-decoration:none;
      color:#fff;
      // text-transform:uppercase;
      // font-family:$base-font-sans-serif;
    }

    @include animate(right, '1s');

    @include media ('<=phone') {
      top:8%;
      @include animate(right, '.6s');
  	}

    &.visible{
      right:0;
    }
}
